<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Cars App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:#4DB6AC;">
    <nav class="navbar navbar-light" style="background-color:#2600ff;">
        <a href="{% url 'upload-Car' %}" class="navbar-link btn-lg"
            style="background-color:#ffffff;color:#000000;">Upload cars</a>
        <a href="{% url 'index' %}" class="navbar-brand"
            style="background-color:#ffffff;color:#000000;border-width:10px;border-color:#ffffff;border-style:solid;border-spacing:30px;border-radius: 5px;">Cars
            show
            App</a>

        <a href="{% url 'admin:index' %}" class='navbar-link btn-lg'
            style="background-color:#ffffff;color:#000000;">Admin</a>
    </nav>
    <br>
    {% block content %}
    <div class="card-columns">
        {% for car in stock %}
        <div class="card" style="width: 18rem;">>
            <div class="card-body">
                <h5 class="card-title">{{ car.name }}</h5>
                <p class="card-text">{{ car.brand }}</p>
                <div class="card-footer bg-transparent border-dark">
                    <p class="card-title">{{car.price}}</p>
                    <center>
                        <a href="update/{{car.id}}" class="btn btn-warning" id='{{car.id}}'>edit</a>
                        <a href="delete/{{car.id}}" class="btn btn-danger" id='{{car.id}}'>delete</a>
                    </center>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>